#ignore all
*
#unignore fir
!*/

#unignore go, c, python, rust, julia, javascript, java code
!*.go
!*.c
!*.py
!*.rs
!*.jl
!*.js
!*.java
!*.nim

#unignore gitignore, makefile, script to run
!.gitignore
!makefile
!run.sh

