#ignore all
*
#unignore fir
!*/

#unignore go, c, python, rust, julia, javascript, java, nim, scheme, pascal code
!*.go
!*.c
!*.py
!*.rs
!*.jl
!*.js
!*.java
!*.nim
!*.scm
!*.pas
!*.hs

#unignore gitignore, makefile, script to run
!.gitignore
!makefile
!run.sh

