#ignore all
*
#unignore fir
!*/

#unignore go, c, python, rust, julia, javascript, java, nim, scheme, pascal, v, zig code, erlang
!*.go
!*.c
!*.py
!*.rs
!*.jl
!*.js
!*.java
!*.nim
!*.scm
!*.pas
!*.hs
!*.clj
!*.v
!*.zig
!*.erl

#unignore gitignore, gitattributes, makefile, script to run
!.gitignore
!.gitattributes
!makefile
!run.sh

